/* Esta parte es para todas las vistas, son los estilos de la estructura, excepto la del login */
* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    background-attachment: fixed; /* Fija el fondo */
    height: 100vh; /* Asegura que el fondo cubra toda la pantaña */
    display: flex;
    overflow: hidden;
}

.container-right {
    margin-left: 270px;
    width: 85%;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.up {
    text-align: center;
    top: 0;
    overflow-y: auto;
}

.search {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.search1 {
    display: flex;
    gap: 30px;
}

<<<<<<< HEAD

/* Contenedor central para la bienvenida */
.container-right {
=======
/* Ahora, solo los estilos de la vista de bienvenida se aplican dentro de .welcome-view */
.welcome-view .container-right {
>>>>>>> 77d5727a27ea2b14c0919621d52cd4a3524ce4de
    margin-left: 270px;
    width: calc(100% - 270px); /* Ajuste para ocupar el espacio restante */
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    display: flex; /* Asegurar que se centre el contenido */
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
/* Ajuste de la clase welcome-container */
.welcome-container {
=======
.welcome-view .welcome-container {
>>>>>>> 77d5727a27ea2b14c0919621d52cd4a3524ce4de
    text-align: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
/* Estilo para el texto de bienvenida */
.welcome-text {
=======
.welcome-view .welcome-text {
>>>>>>> 77d5727a27ea2b14c0919621d52cd4a3524ce4de
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

<<<<<<< HEAD
/* Imagen centrada */
.welcome-image img {
=======
.welcome-view .welcome-image img {
>>>>>>> 77d5727a27ea2b14c0919621d52cd4a3524ce4de
    width: 220px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

<<<<<<< HEAD
/* Caja para la fecha y hora */
.date-time-box {
=======
.welcome-view .date-time-box {
>>>>>>> 77d5727a27ea2b14c0919621d52cd4a3524ce4de
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 77d5727a27ea2b14c0919621d52cd4a3524ce4de
